@import "_mixin";
// Root
$title: "ALK Sanet", sans-serif;
$subtitle: "BPG Arial", sans-serif;

// Text Colors
$white: #fff;
$black: #000;

// Background Color
$dark: #434343;
$light: #ebebeb;
$line: #b4b4b4;
$title-bg: #2a2a2a;

// Container Body Size
$container-width: 1140px;

.fix-bg {
  background: url("../imgs/bg.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  overflow-x: hidden;

  .main-box {
    @include flexcenter(column, none);
    .main-title {
      font-family: $title;
      color: $white;
      font-size: 40px;
      margin-top: 55px;
    }
    .main-subtitle {
      font-family: $subtitle;
      color: $white;
      font-size: 10px;
      margin: 1rem 0 3rem 0;
    }
  }
  .container {
    @include flexcenter(column, none);
    img {
      height: 80vh;
      width: 100%;
      object-fit: cover;
      object-position: bottom;
    }
  }
  .blog {
    @include flexcenter(column, none);
    max-width: $container-width;
    margin: 0 auto;
    .blog-title {
      font-family: $title;
      text-align: center;
      color: $white;
      font-size: 24px;
      margin: 45px 0;
      &::after {
        content: "";
        border-bottom: $line 2px solid;
        width: 110px;
        display: block;
        transform: translateX(130%);
        padding: 10px 0;
      }
    }
    .blog-box {
      @include flexcenter(row, $light);
      max-width: $container-width;
      background: transparent;
      .box-bg {
        @include flexcenter(column, none);
        transition: all 0.3s ease;
        &:hover {
          color: $white;
          border-radius: 30%;
        }
        &:last-child {
          border-right: 5px;
          height: 100%;
        }
        img {
          padding: 30px 0;
        }
        p {
          padding: 20px 35px;
          line-height: 1.6;
        }
        .btn {
          font-family: $title;
          padding: 7px 16.39px;
          color: $white;
          background: $title-bg;
          border: none;
          border-radius: 10px 10px 0 0;
          transition: all 0.2s ease;
          &:hover {
            padding: 7px 12px;
          }
        }
      }
    }
  }
  .galery-bg {
    background: none;
    max-width: $container-width;
    height: 600px;
    margin: 0 auto;
    .galery-title {
      background: none;
      width: 898px;
      height: 102px;
      margin: 0 auto;
      text-align: center;
      img {
        width: 449px;
      }
      .galery-txt {
        font-family: $title;
        color: $white;
        font-size: 24px;
        text-align: center;
        padding-top: 3rem;
        &::after {
          content: "";
          border-bottom: $line 2px solid;
          width: 110px;
          display: block;
          margin: 0 auto;
          padding: 10px 0;
          margin-bottom: 10px;
        }
      }
      .galery-box {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
  .card-txt {
    font-family: $title;
    color: $white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
    &::after {
      content: "";
      border-bottom: $line 2px solid;
      width: 110px;
      display: block;
      margin: 0 auto;
      padding: 10px 0;
      margin-bottom: 10px;
    }
  }
  .card {
    @include flexcenter(row, $white);
    max-width: $container-width;
    margin: 0 auto;
    img {
      width: 569.33px;
    }
    .content {
      @include flexcenter(column, none);
      .card-title {
        font-family: $title;
        font-size: 25px;
        padding-bottom: 30px;
      }
      .card-p {
        font-family: $subtitle;
        padding: 0 30px;
        line-height: 1.6;
      }
    }
  }
  .card-reverse {
    @include flexcenter(row, $white);
    flex-direction: row-reverse;
    max-width: $container-width;
    margin: 0 auto;
    img {
      width: 569.33px;
    }
    .content {
      @include flexcenter(column, none);
      .card-title {
        font-family: $title;
        font-size: 25px;
        padding-bottom: 35px;
      }
      .card-p {
        font-family: $subtitle;
        padding: 0 30px;
        line-height: 1.6;
      }
    }
  }
  .icons-footer {
    @include flexcenter(column, none);
    max-width: $container-width;
    margin: 0 auto;
    height: 180px;
    .icon {
      font-size: 30px;
      margin: 0 20px;
      cursor: pointer;
      color: $line;
      transition: all 0.3s ease;
      &:hover {
        color: $light;
      }
    }
    p {
      font-family: $subtitle;
      color: $line;
      font-size: 12px;
      padding-top: 30px;
      transform: translateX(45px);
    }
  }
}
